@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Block';
    src: url('/blox-brk.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
